.idea
dist
node_modules
run.sh

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.sqlite3
*.sqlite3.bak
*.xlsx
we_settings.py
excelinput.py
wsgi_conf.ini
nginx_conf.conf